services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=ticketdb'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=myuser'
    ports:
      - "5432:5432"
  rabbitmq:
    image: 'rabbitmq:latest'
    environment:
      - 'RABBITMQ_DEFAULT_PASS=secret'
      - 'RABBITMQ_DEFAULT_USER=myuser'
    ports:
      - "5672:5672"
      - "15672:15672"
  redis:
    image: 'redis:latest'
    ports:
      - "6379:6379"
