server:
  tomcat:
    threads:
      max: 200
      min-spare: 10

spring:
  application:
    name: ticket-system

  threads:
    virtual:
      enabled: true

  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${POSTGRES_PORT_EXTERNAL:5433}/${POSTGRES_DB:ticketdb}
    username: ${POSTGRES_USER:myuser}
    password: ${POSTGRES_PASSWORD:secret}

    hikari:
      maximum-pool-size: 50
      minimum-idle: 10
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      timeout: 2000

  rabbitmq:
    host: ${RABBIT_HOST:localhost}
    port: ${RABBITMQ_PORT_EXTERNAL:5672}
    username: ${RABBITMQ_USER:myuser}
    password: ${RABBITMQ_PASSWORD:secret}
    listener:
      simple:
        concurrency: 20
        max-concurrency: 50
        prefetch: 1
        acknowledge-mode: auto
        retry:
          enabled: true
          max-attempts: 3
          initial-interval: 1000ms
          multiplier: 2.0
          max-interval: 10000ms

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - [%X{requestId}] - %msg%n"