spring:
  application:
    name: ticket-system

  datasource:
    url: jdbc:postgresql://localhost:5433/ticketdb
    username: myuser
    password: secret
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379

  rabbitmq:
    host: localhost
    port: 5672
    username: myuser
    password: secret